@font-face {
    /*
    AUTHOR
Sizenko Alexander
http://www.styleseven.com
*/

    font-family: "Digital-7";
    src: url("../fonts/Digital-7.ttf") format("truetype"); 
    src: url("../fonts/digital-7.ttf") format("truetype"); 
    src: url("../fonts/digital-7 (italic).ttf") format("truetype"); 
    src: url("../fonts/digital-7 (mono).ttf") format("truetype"); 
    src: url("../fonts/digital-7 (mono italic).ttf") format("truetype");
}